<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTForms Formulaire</title>
</head>
<body>
    <h1>Formulaire</h1>
    {% if name %}
        <h1>Hello {{ name }} {{ lastname }} </h1>
    {% else %}
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.lastname.label() }}
            {{ form.lastname() }}
            <br/>
            {{ form.hidden_tag() }}
            {{ form.name.label() }}
            {{ form.name() }}
            <br/>
            <select name="select" id="pays">
                {% for x in country %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
            <br/>
            {{ form.submit() }}
        </form>
    {% endif %}
</body>
</html>