<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
</head>
<body>
    <h1>Formulaire</h1>
    <form action="{{ url_for('thanks') }}" method="POST">
        <p>
            <!-- Champ de type "text" -->
            <label for="nom">Nom : </label>
            <input type="text" name="nom" id="nom" required>
        </p>
        <p>
            <!-- Champ de type "text" -->
            <label for="prenom">Prénom : </label>
            <input type="text" name="prenom" id="prénom" required>
        </p>
        <p>
                <!-- Champ de type "email" -->
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" required>
        </p>
        <p>
            <!-- Choix dans une liste d'options avec la balise <select> -->
            <label for="pays">Pays résidentiel : </label>
            <select name="pays" id="pays" required>
                <option value="france">France</option>
                <option value="belgique">Belgique</option>
                <option value="allemagne">Allemagne</option>
            </select>
        </p>
        <p>
            <!-- Champ de type "radio" -->
            Genre : 
            <input type="radio" name="genre" value="1" id="choix1" required>
            <label for="choix1">Homme</label>
            <input type="radio" name="genre" value="2" id="choix2">
            <label for="choix2">Femme</label>
            <input type="radio" name="genre" value="3" id="choix2">
            <label for="choix2">Ananas</label>
        </p>
        <p>
            <!-- Choix dans une liste d'options avec la balise <select> -->
            <label for="demande">Type de demande : </label>
            <select name="demande" id="demande">
                <option value="autres">Autres</option>
                <option value="commande">Commande</option>
                <option value="réparation">Réparation</option>
            </select>
        </p>
        <p>
            <!-- Zone de texte plus grande avec la balise <textarea> -->
            <label for="commentaire">Commentaire : </label>
            <textarea name="commentaire" id="commentaire" rows="6" cols="50"></textarea>
        </p>
        <p>
            <!-- Bouton d'envoi du formulaire -->
            <input type="submit" value="Envoyer le formulaire">
            <!-- <button type="submit">Envoyer le formulaire</button> -->
        </p>
    </form>
</body>
</html>