<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
</head>
<body>
    <p>Merci de nous avoir contacté!</p>
    <p>Résumé : </p>
    <p> - Nom : {{ form.lastname }}</p>
    <p> - Prénom : {{ form.name }}</p>
    <p> - Email : {{ form.email }}</p>
    <p> - Pays : {{ form.country }}</p>
    <p> - Genre : {{ form.genre }}</p>
    <p> - Demande : {{ form.genre }}</p>
    <p> - Commentaire client : </p>
    <p> {{ form.comment }}</p>
</body>
</html>